/.idea/

.env

*.sln.DotSettings.user
*.user
*.suo
.idea

bin/
obj/
*.exe
*.dll
*.pdb

appsettings.Development.json
appsettings.Local.json
*.usersecrets

_ReSharper.Caches/
*.DotSettings.user
RiderIdbest/

.DS_Store
Thumbs.db

*.log
*.crash
